apiVersion: apps/v1
kind: Deployment
metadata:
  name: openresty-deployment
  namespace: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openresty
  template:
    metadata:
      labels:
        app: openresty
    spec:
      containers:
        - name: openresty
          image: bwalia/whitefalcon:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
          - name: REDIS_HOST
            value: "redis-service.test.svc.cluster.local"    
          - name: APP_NAME
            value: "whitefalcon"  
          - name: VERSION
            value: "1.0"  
          - name: STACK
            value: "Lua 5.1"  
          - name: DEPLOYMENT_TIME
            value: "20230510055429"          
#see helm chart

# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: openresty-deployment
#   namespace: test
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: openresty
#   template:
#     metadata:
#       labels:
#         app: openresty
#     spec:
#       containers:
#         - name: openresty
#           image: bwalia/whitefalcon:latest
#           imagePullPolicy: Always
#           ports:
#             - containerPort: 80
#           env:
#           - name: REDIS_HOST
#             value: "redis-service.test.svc.cluster.local"            

# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: openresty-service
#   namespace: test
# spec:
#   selector:
#     app: openresty
#   ports:
#   - protocol: TCP
#     port: 80
#     targetPort: 80
#   # type: NodePort

# ---

# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   annotations:
#     meta.helm.sh/release-name: openresty-ingress
#     meta.helm.sh/release-namespace: test
#   labels:
#     app.kubernetes.io/managed-by: Manual
#   name: openresty-ingress-test
#   namespace: test
# spec:
#   ingressClassName: nginx
#   rules:
#   - host: test.whitefalcon.io
#     http:
#       paths:
#       - backend:
#           service:
#             name: openresty-service
#             port:
#               number: 80
#         path: /
#         pathType: Prefix
