# apiVersion: v1
# kind: Service
# metadata:
#   name: openresty-service
# spec:
#   selector:
#     app: openresty
#   ports:
#   - protocol: TCP
#     port: 80
#     targetPort: 80
#   type: NodePort
