# Default values for whitefalcon.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  name: whitefalcon
  version: 0.1.0
  description: A Helm chart for Kubernetes
  keywords:
    - helm
    - chart
    - kubernetes
  namespace: int
  dns_resolver: "10.43.0.10"
  api_url: "http://int2-api.whitefalcon.io/api"
  redis_host: "redis-service.int.svc.cluster.local"
  target_env: "int"
  target_type: "api"

secure_env_file: "AgA7fq9UN03QLQM6oLJaTidcBMG15dO4yWT1Lo+4/XdcxicP4SYEydTWM3cm6R6ldYrqj0xSVd2kN5R5tnKfQy2YlrswYgD/1VkqFG6q5ebEN8Wqxh258C0zjwjc4G3BCgwwRe5qmgWaZ+Gt1MyRqptgiviKx6XyQZW7Tt1gCzSRuxfXSKHxit8TKMFZ2J1O2AJ55hdQSi4HwjayibYEUBYXi+PkatiGIy0bO/8/UdrIkzyWcQwt3ghtW4VfhXn/KirWOKfe3XcG2Am1T1eoow+jThl6plHHxxwUzlP1qe1UW1EXo8rVfMkEdpAYV3ApdOwSgNiYkOvnW3cbSqb4MLiUeRWZINrsZsGRsTCe/SBkfczDkYGV6cp6Z9FTAxgRXqG+Waw+XLed2R24tAy3gUqvKG2QTpYbPqs8rhkgRDHFtf2BzYOagjF9y1iSftsRJSRCa2VRbFtCecXQf+k1UKvrZ1fnGyU/D3dqSCxtfeZRMRyijt0TEGxGCDOqgc2jh8llz9qSzQ99eQ7U5/Ww8fIirI03fy1OWwPtY9ZSo10qLN7z440RKW2i9B5ETsR17rXF/aoKAEyb9JfXiVsQ+xYljKzA52iZc+Ry9pMcZE9pGPiZFZzuGH5+5VKUz/u5FdYJPZm9vO4WljrPb9lghgD2nJQTI6bVyuSqAghfybr8w/t6t5RgY7ksz5MSDurPqYh9g9yU9tOcnc92N0WlkNRQQ9+OXL7WcERiisszkZieT1S8zXvA72TohWltxTWcJclGvt7yFpggpbTktpavdqYqM3iAZNJcSQTt8VobV5uyJPV8fH+pGykjQcRKChO0723f+AuLXVdRTUAdCnzn/EB12IG/IZGHBgra4ecBTsN//wQXtstroUAZOKNSZxZOP/3/5sFyRTDOelsw40H9UWXpdDAOoXsSFPoTIv4BCza4jQ=="

image:
  repository: bwalia/whitefalcon
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
#  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: int-api.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: whitefalcon-svc-int-api
          servicePort: 8080
    - host: int2-api.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: whitefalcon-svc-int-api
          servicePort: 8080
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
