# Default values for whitefalcon front http request handler
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  name: wf-front
  version: 0.1.1
  description: A Helm chart for Kubernetes
  keywords:
    - helm
    - chart
    - kubernetes
  namespace: dev
  dns_resolver: "10.43.0.10"
  primary_dns_resolver : "10.43.0.10"
  secondary_dns_resolver : "10.43.0.10"
  dns_resolver_port: 53
  api_url: "http://wf-api-svc-dev.dev.svc.cluster.local/api"
  redis_host: "redis-service.dev.svc.cluster.local"
  target_env: "dev"
  target_type: "front"
  front_url: "http://front.localhost"
  sync_data_onload: false

secure_env_file: AgAk/P0MsdFz/qi1/49q46ZSlU/P5cyhwVxfP2YJx8zB4QKpIACSKlB8k9g2yKJol7QpopO1nehmYqbHmkUxnv8nnhC3NTDPq9kkzL/++FaAZ3c4RNJ74Sq02u+N1b79j4dybXxb5kfFojOl/HU+H4u5IWhC+P7fY2128c5Pq2llfpj230hmEQbVAsMrsbvScNVQ22HBKOFQ0PDV93KUV+ucZjkXw8nY+flM8qh5ESWHEElnTwtQSw/RbAsYDuEKrzJpbVSFEN8RINs2VLTOM4r5DyyQR1YMYgpVi7Jr6OE+QPPG7K0LfQqP7If/GsJmjDR1VBFu3QtpEknZTiwJ43XTwQ4MaHy4JUaKbrbUvA14a3gCIWE9hzCsyeJtTopebVzG1D60g1CcEE8rUvDX0Wi0SbO1jEPdo9SCLXeLOd7w6t4B57ilv9zo+GOudGAnMy/o5U2k1+MrsK/ukZ8a+KrrI3zg0itbdksbSeXVnIaj9eSssmsvI+NnY5wmYGlx00FVSLS6TzTtiyvgiEZM6SZFdN+f1PSiIrB0njMyBfYgVom8Nrq+12EqeoEkBBFyYc/88ztOihkZPxUi8XmL5qc+EXTqMsk6A4HHASpRZ03kF2L7Hd7UG8YGTf2TQZICytDVotLJRFrU2gmJbHh+2JHt+EwPm89JF5aCWmPdPd3BsjJijOm2Twsbq3ZmlqotL1y05evFWgA4wa0dY9J+/Nw002Pam/+P+7H/VXWBX7Mtl4+bJrUJGRPzTn+jUI827rl9bEj0ajANvEcXtyWiq4ukIuAYfE+q9qXWWv3geP9VFSbs2iqb/hqjc8j89FJC82/ZKaDd75TWUNxgaNV2mbzVPTQski9TYsHvOYcHVLShnfB3RDLN0KT7cDDyXaau4pE6gcMbe8XNMqF1yq2J1AuCMdbeusTGhy/+A+uMctAxvLrmYQEgx7lzLOZMU/wP/b5kAAXsT4vCpDtUc7eo77/tEMydvzQom117ofC98nUfqlkw6EZxrzTgQ1r+eBFCOpdLH1YMH46fLbCoefdoWOZIeUwMpXx2iPNBwY1ua48BZ+8x5sWlKYE9ZHXOSiG62zvNGLagHXlVZxiURH2eSHV/MpO5R3eYuGpXv0en87YtIgEo17ksakZ/9xHy49PEaTEYJl5WbwVo11yscbYc1YQcdnlFmYAtNR7bs+TS

image:
  repository: bwalia/whitefalcon
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: front.localhost
      paths:
        - path: /
          pathType: ImplementationSpecific
#          serviceName: wf-api-svc-dev
          serviceName: wf-front-svc-dev
          servicePort: 80
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
