# Default values for whitefalcon-router.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  name: wf-front
  version: 0.1.0
  description: A Helm chart for Kubernetes
  keywords:
    - helm
    - chart
    - kubernetes
  namespace: int
  dns_resolver: "10.43.0.10"
  api_url: "http://int6-api.whitefalcon.io/api"
  redis_host: "redis-service.int.svc.cluster.local"
  target_env: "int"
  target_type: "front"
  front_url: "http://int6.whitefalcon.io"

secure_env_file: "AgBPpOgyo7PFxCja1oo1v5z6C2jrCXZXJLdTjKHbbeDMyl85Ym9PhHBqlx+rGMhhZwKk7rrIdFaTfQbybPRCYyc0S5rTAbAOjjByaI/nVAjX8r4hefoR4nAYdn31HVVvNk6npLPu6drj6qQBTUKQitRdRNLJvhXrpufJmkSwBvfC1W0VmjNM3edvnZNXDduwwa6mi4GtSilQ311nRlPMPovJyFsBXif8I0+dzMgTluN/kmp3SahTmiDexaGoicWN9RXOIdSJqbpuCi/UpNY6tef95MgvxkPWfY4WSYimdJLmMqXjbS3H4A30prLiOa7c04cmj29JKe3wucea/lWeNdnrRKzXuP5Q/UdC5A7lvxcYEz0KNoTGHWMH2xSEUAXPz86l9hMm3LMJUc0Pg9GYJLCb/LpYoAXsCGERtoGr4kFhvWJV5WFoP5tCIDrehZcl1rIkOEJd1ttFXZj1IphQQSWugn4SZNMzBw5rVKqAlI2WgERIuriTZEijuMkGCWCsczK7/F+eyV8dMHdpyI1/KuUzfbaeDgMEp7LkuOqamUlLrZ5zH4YLSzm6stp7E4PXY+/FjwmlhWwjFvXhLqn9tglm0UDFnqf82IG2Frw6vay4ppd+Q1BOUM34PbPWINQnxiX9Tz0NFBoRGPsoN5GG+DY2GK4hG4zT57/LvmUhp7am/g5b48FufpoUG8act7umKi9VAklHDoouQWIMA43hvZODmoDf5Z5HMoA9CQ+DPRoAKWepJg506ZnAPtdZEoUrRAYEnOqGpJhetkvJTgGhoO3pXYNh1fSxn+8dQwh521V0HbMeownQxby3B+WRp99soVRfBa1tERL0fk1C2U8qMMIACG8NlV9i9rdkPbqvMKjxfCrcIwk/Q5psXHSf6awTZxjaE28Q5YL/8+QktIAYBsqaL4YiAet+Jph8hXvd5AQXXacPOG2qcZOczTCByH/nuMjMzwq1P1Lou2FibG3DHB0oX8J/pP8zg+5ssK4="

image:
  repository: bwalia/whitefalcon
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: int-front.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80
    - host: int.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80
    - host: int6.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80
    - host: int6-front.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80
    - host: int6-qa.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80
    - host: nodeapp.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-front-svc-int
          servicePort: 80

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}