# Default values for whitefalcon.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  name: wf-api
  version: 0.1.1
  description: A Helm chart for Kubernetes
  keywords:
    - helm
    - chart
    - kubernetes
  namespace: int
  dns_resolver: "10.43.0.10"
  api_url: "http://api.int6.whitefalcon.io/api"
  redis_host: "redis-service.int.svc.cluster.local"
  target_env: "int"
  target_type: "api"
  front_url: "http://int6.whitefalcon.io"
  sync_data_onload: false

secure_env_file: "AgAG05iteo8gzX1wXLfAymuga1IbuEaJJLyOBy3ue39uKaHyFqFl1vd5yS8pIq0TRP719sHl0fWfnevNjZIsthInGB55zl54KmGMC4cJ8Uy+EcR1CVRR0d8XjVMQbI5Pv603Tbkp0kdkW5GLnFP6POMVgmJ8fioEqiJFnTgqNsyS6V7DZUJbayLox0sjC91UQdOD3J5Th01FEfEV7tXRT2x7YI76zYwzwTFBjp2sZ1ffqKhyDbkSDGTj4UK/XpqaVOCq6dnTEh898F8Dx9YuFD8taySihJPYKlmTSAhxqtmAczPax0bFKzFmvRa10/9GJg6BsbXO6g7kMqvi4PQGushCRlz7eTzA6rU4E5a8e0yMgFRY5woJU8hVVfX/YYnfzZIp9vUXk1xCPgKTrZO3f8CVqArNcKVxMBAAln94QMpPdqEMGsdHEyS/9RoOrN1xdZ06qAiRXNqknejOAxxG4/Rk7yRU129K8yUZssyXKM4W5fXwUp0cgBMlrh2sRDeGxs4b7Xz69ZW8ffJPXM7PMXLrYg7jTdAiGwo7P0qLZUE/Jg9V+ZBQVGIPShI2vM5jkCqQXi12pY4orfazwWg0kg8UYXEaGrDN5PTEtV6wp2Cfqrw3s3hibenziQsYSFmIxzUW/qefqIZWjuB2B/lTMNi8a8jW49lj1irHX+S3UWbU/mqKlR2r16MVtNAILUbavY/pTYBEAl6xslXcp3zDapRvEwDbyvszDNvPDMwh+//7zjwRjnK3L8lxHxAjCufeOfBpGwcH9M3CqLnliL86pyBcF9/7dJwQKJOqNFx0U8vTA9/oPguYXPovubU7R9eZ761juZfEBC3Z/u3i+iucF2h9y6ms4qdkUtexiK9pDkQe9jvKiZRldJAFYHymGj/wvL2glhCLvWqFQLGLINfdgtQXl18nROGmbTcSWSfvzP+bhFYZHXONVCKNJDwp0XaKpIfKNwRGcp2frzBTZhxM7OzPjJnEL7DVn/Zxz/pVAD0kWA=="

image:
  repository: bwalia/whitefalcon
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: api.int.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-api-svc-int
          servicePort: 8080
    - host: api.int6.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: wf-api-svc-int
          servicePort: 8080
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
