version: "3.7"
services:
  server:
    container_name: openresty-alpine
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./nginx-dev.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./openresty-admin:/usr/local/openresty/nginx/html/openresty-admin:ro      
      - ./data:/usr/local/openresty/nginx/html/data:ro
      - ./api:/usr/local/openresty/nginx/html/api:ro
    environment:
      FLASK_DEBUG: "true"

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
