version: "3.7"
services:
  server:
    container_name: whitefalcon
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./nginx-dev.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./openresty-admin:/usr/local/openresty/nginx/html/openresty-admin   
      - ./data:/usr/local/openresty/nginx/html/data
      - ./api:/usr/local/openresty/nginx/html/api
    environment:
      FLASK_DEBUG: "true"

  redis:
    container_name: whitefalcon-redis
    image: "redis:alpine"
    ports:
      - "6379:6379"