- name: Copy script to the remote server
  template:
    src: alpine-dependencies.sh.j2
    dest: "{{ script_destination }}"
    mode: '0755'

- name: Ensure ash is available (for Alpine)
  raw: "apk add --no-cache bash"
  changed_when: false

- name: Run the script in Alpine environment
  command: "ash {{ script_destination }}"
  register: script_output
  changed_when: script_output.rc != 0

- name: Display script output
  debug:
    msg: "{{ script_output.stdout_lines }}"
