#!/bin/bash

opm remove pintsized/lua-resty-http
opm remove ledgetech/lua-resty-http

opm get olegabr/lua-resty-ip2location
opm get ip2location/ip2location-resty
opm get bungle/lua-resty-session
opm get bungle/lua-resty-template
opm get thibaultcha/lua-resty-mlcache
opm get 3scale/lua-resty-env
# opm get bungle/lua-resty-prettycjson

# luarocks install ip2location
luarocks install ip2location
luarocks install ip2location-resty
luarocks install lua-resty-jwt
luarocks install lua-resty-session
luarocks install lua-resty-http
luarocks install lua-resty-openidc
luarocks install base64
luarocks install lua-resty-redis-connector
luarocks install lua-resty-dns
luarocks install lua-resty-resolver
luarocks install luafilesystem
luarocks install lua-resty-auto-ssl
luarocks install pgmoon
# luarocks install lua-cjson
# luarocks install --tree lua_modules lua-resty-prettycjson

mkdir -p /data/nginx/cache
chown -R www-data:root /data/nginx/cache
chmod -R 775 /data/nginx/cache

mkdir -p /opt/nginx/data/ \
    && chmod -R 777 /opt/nginx/data/ \
    && chown -R www-data:root /opt/nginx/data/

mkdir -p /opt/nginx/data/rules/prod/ \
    && chmod -R 777 /opt/nginx/data/rules/prod/ \
    && chown -R www-data:root /opt/nginx/data/rules/prod/

mkdir -p /opt/nginx/data/rules/acc/ \
    && chmod -R 777 /opt/nginx/data/rules/acc/ \
    && chown -R www-data:root /opt/nginx/data/rules/acc/

mkdir -p /opt/nginx/data/rules/test/ \
    && chmod -R 777 /opt/nginx/data/rules/test/ \
    && chown -R www-data:root /opt/nginx/data/rules/test/

mkdir -p /opt/nginx/data/rules/int/ \
    && chmod -R 777 /opt/nginx/data/rules/int/ \
    && chown -R www-data:root /opt/nginx/data/rules/int/

mkdir -p /opt/nginx/data/servers/prod/ \
    && chmod -R 777 /opt/nginx/data/servers/prod/ \
    && chown -R www-data:root /opt/nginx/servers/rules/prod/

mkdir -p /opt/nginx/data/servers/acc/ \
    && chmod -R 777 /opt/nginx/data/servers/acc/ \
    && chown -R www-data:root /opt/nginx/data/servers/acc/

mkdir -p /opt/nginx/data/servers/test/ \
    && chmod -R 777 /opt/nginx/data/servers/test/ \
    && chown -R www-data:root /opt/nginx/data/servers/test/

mkdir -p /opt/nginx/data/servers/int/ \
    && chmod -R 777 /opt/nginx/data/servers/int/ \
    && chown -R www-data:root /opt/nginx/data/servers/int/

mkdir -p /var/log/nginx/
chown -R www-data:root /var/log/nginx/
chmod -R 775 /var/log/nginx/

mkdir -p /opt/nginx/data/ \
    && chmod -R 777 /opt/nginx/data/ \
    && chown -R www-data:root /opt/nginx/data/

mkdir -p /etc/resty-auto-ssl
chown -R www-data:root /etc/resty-auto-ssl/
chmod -R 775 /etc/resty-auto-ssl

mkdir -p /etc/ssl/
chown -R www-data:root /etc/ssl/
chmod -R 775 /etc/ssl

openssl req -new -newkey rsa:2048 -days 3650 -nodes -x509 \
  -subj '/CN=sni-support-required-for-valid-ssl' \
  -keyout /etc/ssl/resty-auto-ssl-fallback.key \
  -out /etc/ssl/resty-auto-ssl-fallback.crt

# mc - MinIO Client is used to backup nginx openresty configuration to S3
wget https://dl.min.io/client/mc/release/linux-amd64/mc -O /usr/local/bin/mc \
    --tries=3 --timeout=30 && \
    chmod +x /usr/local/bin/mc  

mc --version

cd /tmp/ && wget https://edgeone-public.s3.eu-west-2.amazonaws.com/src/openresty/IP2LOCATION-LITE-DB11.IPV6.BIN/IP2LOCATION-LITE-DB11.IPV6.BIN -O /tmp/IP2LOCATION-LITE-DB11.IPV6.BIN
mv /tmp/IP2LOCATION-LITE-DB11.IPV6.BIN /usr/local/openresty/nginx/IP2LOCATION-LITE-DB11.IPV6.BIN

chmod 775 /usr/local/openresty/nginx/IP2LOCATION-LITE-DB11.IPV6.BIN \
    && chown www-data:root /usr/local/openresty/nginx/IP2LOCATION-LITE-DB11.IPV6.BIN

if [ -f "/tmp/.env" ]; then
  mkdir -p /usr/local/openresty/nginx/html/openresty-admin/
  cp /tmp/.env /usr/local/openresty/nginx/html/openresty-admin/.env
fi
