#!/bin/bash

# For ubuntu 22 or above
if (lsb_release -r | grep -q "22"); then
  echo "Ubuntu 22 or above"
  rm -f /usr/share/keyrings/openresty.gpg
  wget -O - https://openresty.org/package/pubkey.gpg | sudo gpg --dearmor -o /usr/share/keyrings/openresty.gpg
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/openresty.gpg] http://openresty.org/package/ubuntu $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/openresty.list > /dev/null
  apt-get update
  apt-get -y install openresty-opm openresty-resty openresty-restydoc openresty-restydoc-pdf openresty-restydoc-html openresty-restydoc-epub openresty-restydoc-md openresty-restydoc-txt openresty-rest
fi

opm get bungle/lua-resty-session
opm get ip2location/ip2location-resty
opm get bungle/lua-resty-template
opm get thibaultcha/lua-resty-mlcache
opm get 3scale/lua-resty-env

luarocks install lua-resty-jwt
luarocks install lua-resty-session
luarocks install lua-resty-http
luarocks install lua-resty-openidc
luarocks install base64
luarocks install lua-resty-redis-connector
luarocks install lua-resty-dns
luarocks install lua-resty-resolver
luarocks install luafilesystem
luarocks install lua-resty-auto-ssl
luarocks install pgmoon

mkdir -p /opt/nginx/data/
chmod 777 /opt/nginx/data/



