#!/bin/bash

set -x

# Download and install nvm
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash

source ~/.bashrc
# Set nvm environment variables
export NVM_DIR="${HOME}/.nvm"

# Load nvm
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# Install fixed version of Node v18 and Use it. Install Yarn
nvm install 18
nvm use 18
npm install --global yarn

mkdir -p /usr/local/openresty/nginx/html/openresty-admin/
chmod 777 /usr/local/openresty/nginx/html/openresty-admin/

cd /usr/local/openresty/nginx/html/openresty-admin/

if [ -f "/tmp/.env" ]; then
  cp /tmp/.env /usr/local/openresty/nginx/html/openresty-admin/.env
fi

# Install dependencies and build the project
yarn install
    {% if node_max_old_space_size is defined %}
      export NODE_OPTIONS="--max_old_space_size={{ node_max_old_space_size }}"
    {% else %}
      export NODE_OPTIONS="--max_old_space_size=1024"
    {% endif %}
yarn build
