    # default server elasticdatagenerator.fictionally.xyz configuration goes here
    #
proxy_cache_path /tmp/nginx-cache keys_zone=mynginxcache:10m loader_threshold=300 loader_files=200 max_size=200m;

server {
listen       8888;
server_name  elasticdatagenerator.fictionally.xyz;

       location / {
        more_set_headers 'Access-Control-Allow-Origin: *';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://192.168.1.67:5173;
        }
}
 
server {
listen       8888;
server_name  es815.fictionally.xyz es815api.fictionally.xyz;

    # location ~ \.(css|js)$ {
    #     proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
    #         proxy_cache_valid any 1m;
    #         proxy_cache_min_uses 3;
    #         proxy_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
    #     }

       location / {

        proxy_connect_timeout 300s;
        proxy_read_timeout 300s;        more_set_headers 'Access-Control-Allow-Origin: *';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
        }
}

server {
listen       8888;
server_name  {{ nginx_k3s_dashboard_server_name }};

    # location ~ \.(css|js)$ {
    #     proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
    #         proxy_cache_valid any 1m;
    #         proxy_cache_min_uses 3;
    #         proxy_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
    #     }


       location / {
        more_set_headers 'Access-Control-Allow-Origin: *';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
        }
}

server {
listen       8888;
server_name  elastic.fictionally.xyz elasticapi.fictionally.xyz;

    # location ~ \.(css|js)$ {
    #     proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
    #         proxy_cache_valid any 1m;
    #         proxy_cache_min_uses 3;
    #         proxy_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
    #     }


       location / {

        proxy_connect_timeout 300s;
        proxy_read_timeout 300s;
        more_set_headers 'Access-Control-Allow-Origin: *';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
        }
}


server
{
        listen 8888;  # Listen on port (HTTP)
        server_name {{ nginx_s3_server_name }} acc-{{ nginx_s3_server_name }} test-{{ nginx_s3_server_name }} int-{{ nginx_s3_server_name }};  # Your domain name
        root /var/www/html;  # Document root directory
        index index.html;  # Default index files
        access_log logs/access.log;  # Access log file location
        error_log logs/error.log;  # Error log file location

    # location ~ \.(css|js)$ {
    #     proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
    #         proxy_cache_valid any 10m;
    #         proxy_cache_min_uses 3;
    #         proxy_cache_bypass $cookie_nocache $arg_nocache$arg_comment;
    #     }


        location / {
        proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        # Default is HTTP/1, keepalive is only enabled in HTTP/1.1
        # To support websocket
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        client_max_body_size 300M;

        chunked_transfer_encoding off;
                      }
              
}

server 
{
            listen 8888;  # Listen on port (HTTP)
            server_name {{ nginx_s3_cli_server_name }} acc-{{ nginx_s3_cli_server_name }} test-{{ nginx_s3_cli_server_name }} int-{{ nginx_s3_cli_server_name }};  # Your domain name
            root /var/www/html;  # Document root directory
            index index.html;  # Default index files
            access_log logs/access.log;  # Access log file location
            error_log logs/error.log;  # Error log file location

            location / {
            proxy_pass http://{{ nginx_s3_proxy_pass_host_ip }};
                                    # To support websocket
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        client_max_body_size  2G;
        client_body_buffer_size 128k;
                      }
}
            
          
