global
    maxconn 4096
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    log global
    option tcplog

frontend http_front
    bind *:80
    default_backend wslproxy_http

frontend https_front
    bind *:443
    default_backend wslproxy_https

frontend admin_front
    bind *:8080
    mode http
    default_backend wslproxy_admin

backend wslproxy_http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server wslproxy-1 172.178.0.20:80 check port 8080 inter 5s fall 3 rise 2
    server wslproxy-2 172.178.0.30:80 check port 8080 inter 5s fall 3 rise 2

backend wslproxy_https
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server wslproxy-1 172.178.0.20:443 check port 8080 inter 5s fall 3 rise 2
    server wslproxy-2 172.178.0.30:443 check port 8080 inter 5s fall 3 rise 2

backend wslproxy_admin
    mode http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server wslproxy-1 172.178.0.20:8080 check inter 5s fall 3 rise 2
    server wslproxy-2 172.178.0.30:8080 check inter 5s fall 3 rise 2

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
