apiVersion: apps/v1
kind: Deployment
metadata:
  name: openresty-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openresty
  template:
    metadata:
      labels:
        app: openresty
    spec:
      containers:
        - name: openresty
          image: bwalia/whitefalcon:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: openresty-service
spec:
  selector:
    app: openresty
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    meta.helm.sh/release-name: openresty-ingress
    meta.helm.sh/release-namespace: default
  labels:
    app.kubernetes.io/managed-by: Manual
  name: openresty-ingress-test
  namespace: default
spec:
  ingressClassName: nginx
  rules:
  - host: test.whitefalcon.io
    http:
      paths:
      - backend:
          service:
            name: openresty-service
            port:
              number: 80
        path: /
        pathType: Prefix
