apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}-openresty-cm-{{ .Values.app.target_env }}-{{ .Values.app.type }}
#   namespace: {{ .Values.targetNS }}
data:
    bootstrap-openresty.sh: |
        #!/bin/bash
        set -x
        # Set Resolver for nginx
        cp /tmp/resolver.conf ~/resolver_backup.conf && sed -i -e 's/Docker resolver/K3S resolver/' /tmp/resolver.conf && sed -i -e 's/resolver 127.0.0.11/resolver {{ .Values.app.dns_resolver }}/' /tmp/resolver.conf
        # Set Timezone
        echo "Openresty whitefalcon-api Nginx Bootstrap Script"
        echo "==========================="
        FILE=/usr/local/openresty/nginx/html/openresty-admin/.env
        cp /tmp/secrets/.env $FILE
        echo "==========================="
        echo "Openresty whitefalcon-api Src copy to /var/www/html Complete"
        DATE_GEN_VERSION=$(date +"%Y%m%d%I%M%S")
        export DATE_GEN_VERSION=$(date +"%Y%m%d%I%M%S")
        export VITE_DEPLOYMENT_TIME=$DATE_GEN_VERSION
        VITE_DEPLOYMENT_TIME=$DATE_GEN_VERSION
        echo "==========================="
        echo "VITE_DEPLOYMENT_TIME=$DATE_GEN_VERSION" >> $FILE
        echo "==========================="
        echo "Update openresty config file for this whitefalcon-api env"
        echo "==========================="
        echo "Restart openresty nginx"
        echo "Rebuilding yarn"
        cd /usr/local/openresty/nginx/html/openresty-admin/ && yarn build
        echo "Rebuilding done"
        openresty -s reload
        echo "==========================="
        echo "Openresty whitefalcon-api Nginx Bootstrap Script Completed"      
    whitefalcon-api.conf: |
{{- range .Values.ingress.hosts }}
        # Openresty whitefalcon-api Nginx Conf Openresty whitefalcon-api.conf src ConfigMap loaded by openresty
        server {
        listen         80;
        server_name {{ .host | quote }};
        root  /usr/local/openresty/nginx/html;
        index          index.html;
        location / {
            return 200 "Openresty whitefalcon-api Nginx Conf Openresty whitefalcon-api.conf src ConfigMap loaded by openresty";
        }
        location ~ /\. {
            deny all;
        }
        }
        }
{{- end }}
