kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ .Values.app.name }}-{{ .Values.app.target_env }}-pv
  labels:
    type: local
    app: {{ .Values.app.name }}-{{ .Values.app.target_env }}
spec:
  storageClassName: local-path
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/{{ .Values.app.name }}/data/{{ .Values.app.target_env }}"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: {{ .Values.app.name }}-{{ .Values.app.target_env }}
  name: {{ .Values.app.name }}-{{ .Values.app.target_env }}-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi