# Default values for s3-browser-s3-browser-node-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: bwalia/s3-browser
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

secure_env_file: AgBpfnZq7VddRaLudFdIjTxIZTMZxUWj+d/CiMJ/ehE2QW668+Nee3a15fThsRnl39Fp+/GRHdnv/3ULsZPzNV5GW14D0/ZWOY8Bkf5hqyK/wwAnaox8Yr9X1u+zpEB1eg6TwDjcJWeeAB+Lit52qMjbMtCn+Eh3OfrZOZijNnNG4x/I16QaW/T9skkN7Vch89JPfJ6T15OzhuuGeObh+WJ5W8uh4wHt0KxFnMirWFKcDh7UStS9JnbJ5f+pvgt4BlhbPd3HdFl1ufZSSFZxBd9+59CKrt8ImZp7oVoXnPxVakpOGl/j3X9g/33EAmKCy8nu4w0EomCc3RJ339sFsmXQiSYtWMM5+KgEZOnUrgmvZ6Og0elSqz+tvZrysplBkhL3VfcXg/sKwS40wzYBes9hNyu6XknXeyW/3bCIjdmIXypn47NAKzO9+vL6huE584iK/am2Ks4yNwYzELUDI8930fiaDbhmLOpK6dxtQLNcgR5jRTSmSdKbp55rdNt19vXey/GSTgV/1bdDDBhFaaAuPA/ULXxKN9kpcJrYL6SDqX0eMBKIqPEruPsZ1lxasqnEyl3dXmA199KIs6RKZJoV5b1AHkoCU1k1TbBsaNyWel1Sak+TpurJnJa9QmaZYAgWvAvjF1L9KTLthEqlg89xcLHWGoIXYp26w12qKvmigUhgQPfGDeaeRSu3+zNgiLgiA+XKsDSueoguSPssFCktD8WGR+VIhQRTWQq1e0TCqxxGu8JjcIj1Qq4OxkzZEjyK7Q4hjGpKnfNSPdSZ6xMeoywz1AJ9dD+9kBXRQ9mmWGx19qb2Whcmz9gIB67GSDYJ33fAJSS7L/4ncxI+MIAK3n4GoUf7U3+guxV1qSDwTA==

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  clusterIP: 10.43.140.55  
  port: 3000

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: s3-browser-origin.whitefalcon.io
      paths:
        - path: /
          pathType: ImplementationSpecific
          serviceName: s3-browser-app
          servicePort: 3000
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - hitefalcon.io

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
