name: "Build and Auto Deploy - whitefalcon INT, TEST, ACC"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ feature/* ]

env:
  TARGET_CLUSTER: "k3s10"
  TARGET_ENV: "int"
  TARGET_TYPE: "api"
  IMAGE_NAME: "whitefalcon"
  IMAGE_TAG: ${{ github.ref_name }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWD }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: bwalia/whitefalcon:latest
      -
        name: Build and push node app
        uses: docker/build-push-action@v4
        with:
          file: demos-origins/node-app/Dockerfile
          push: true
          tags: bwalia/node-app:latest

  deploy10:
    runs-on: [self-hosted]
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s10 onto the int env
        run: chmod +x ./deploy.sh && ./deploy.sh "${{ secrets.DOCKER_USER }}" "${{ secrets.DOCKER_PASSWD }}" "k3s10" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"
      - name: Deploy whitefalcon api gw to k3s10 onto the test env
        run: chmod +x ./deploy.sh && ./deploy.sh "${{ secrets.DOCKER_USER }}" "${{ secrets.DOCKER_PASSWD }}" "k3s10" "test" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  deploy6:
    runs-on: [self-hosted-node6]
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s6 onto the int env
        run: chmod +x ./deploy.sh && ./deploy.sh "${{ secrets.DOCKER_USER }}" "${{ secrets.DOCKER_PASSWD }}" "k3s6" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"
      - name: Deploy whitefalcon api gw to k3s6 onto the test env
        run: chmod +x ./deploy.sh && ./deploy.sh "${{ secrets.DOCKER_USER }}" "${{ secrets.DOCKER_PASSWD }}" "k3s6" "test" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  healthcheck10:
    runs-on: [self-hosted]
    needs: [ deploy10 ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int10.whitefalcon.io/ping
        run: | 
          go mod init myapp
          go test whitefalcan-healthcheck_test.go -v 
  
  healthcheck6:
    runs-on: [self-hosted-node6]
    needs: [ deploy6 ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int6.whitefalcon.io/ping
          API_PING_NODE: node6
        run: | 
          go mod init myapp
          go test whitefalcan-healthcheck_test.go -v 
                