name: Build-Push-Deploy whitefalcon to INT 
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the environment'
        default: 'test'
        required: true
        options:
          - int
          - test
          - acc
          - prod

env:
    IMAGE_NAME: "whitefalcon"
    TARGET_IMAGE_TAG: "latest"
    TARGET_STACK: openresty
    KUBE_CONFIG_K3S: ${{ secrets.KUBE_CONFIG_DATA_K3S2 }}
    TARGET_ENV: ${{ github.event.inputs.TARGET_ENV || 'int' }}
    TARGET_CLUSTER: "k3s2"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWD }}
     
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: bwalia/whitefalcon:latest
      -
        name: Build and push node app
        uses: docker/build-push-action@v4
        with:
          file: demos-origins/node-app/Dockerfile
          push: true
          tags: bwalia/node-app:latest

  # smoke_test6:
  #   runs-on: [self-hosted-node6]
  #   needs: build

  deploy:
    name: Deploy the build docker image to the given Environment using Helm
    runs-on: [ ubuntu-latest ]
    needs: [ build ]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Map Cluster kubeconfig for selected env
      run: |
        if [ "${{ env.TARGET_ENV }}" == "test" ]; then
            echo "KUBE_CONFIG_K3S=${{ secrets.KUBE_CONFIG_DATA_K3S2 }}" >> $GITHUB_ENV
        else
            echo "KUBE_CONFIG_K3S is set to default env"
        fi
        if [ "${{ env.TARGET_ENV }}" == "acc" ]; then
            echo "KUBE_CONFIG_K3S=${{ secrets.KUBE_CONFIG_DATA_K3S2 }}" >> $GITHUB_ENV
        else
            echo "KUBE_CONFIG_K3S is set to default env"
        fi
        if [ "${{ env.TARGET_ENV }}" == "prod" ]; then
            echo "KUBE_CONFIG_K3S=${{ secrets.KUBE_CONFIG_DATA_K3S1 }}" >> $GITHUB_ENV
        else
            echo "KUBE_CONFIG_K3S is set to default env"
        fi
                  
    - name: Helm Deploy - Release Whitefalcon to K3S2 Rancher
      uses: koslib/helm-eks-action@master
      env:
        KUBE_CONFIG_DATA: ${{ env.KUBE_CONFIG_K3S }}
      with:
        command: |
          helm upgrade -i whitefalcon-api-${{ env.TARGET_ENV }} ./devops/helm-charts/whitefalcon/ -f devops/helm-charts/whitefalcon/values-${{ env.TARGET_ENV }}-api-${{ env.TARGET_CLUSTER}}.yaml --set TARGET_ENV=${{ env.TARGET_ENV }} --namespace ${{ env.TARGET_ENV }} --create-namespace
          helm upgrade -i whitefalcon-front-${{ env.TARGET_ENV }} ./devops/helm-charts/whitefalcon/ -f devops/helm-charts/whitefalcon/values-${{ env.TARGET_ENV }}-front-${{ env.TARGET_CLUSTER}}.yaml --set TARGET_ENV=${{ env.TARGET_ENV }} --namespace ${{ env.TARGET_ENV }} --create-namespace
          helm upgrade -i whitefalcon-nodeapp ./devops/helm-charts/node-app/ -f devops/helm-charts/nodeapp/values-${{ env.TARGET_CLUSTER}}.yaml
                
    - name: Restart Whitefalcon Pods using Kubectl            
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ env.KUBE_CONFIG_K3S }}
      with:
        args: rollout restart deployment/wsl-${{ env.TARGET_ENV }} -n ${{ env.TARGET_ENV }}        

    - name: Print Whitefalcon deployment history using Kubectl            
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ env.KUBE_CONFIG_K3S }}
      with:
        args: rollout history deployment/wsl-${{ env.TARGET_ENV }} -n ${{ env.TARGET_ENV }}

    - name: Print Whitefalcon Pods using Kubectl            
      uses: actions-hub/kubectl@master
      env:
        KUBE_CONFIG: ${{ env.KUBE_CONFIG_K3S }}
      with:
        args: get pods -n ${{ env.TARGET_ENV }}     
    
    - name: Slack Notification for Whitefalcon release 
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: general
        SLACK_COLOR: ${{ job.status }}
        SLACK_ICON: https://github.com/rtCamp.png?size=48
        SLACK_MESSAGE: 'Whitefalcon deployed to ${{ env.TARGET_ENV }} env :rocket:'
        SLACK_TITLE: Whitefalcon deployment status
        SLACK_USERNAME: rtCamp
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}