name: Build-Push-Deploy whitefalcon to INT 
on:
  push:
    branches:
      - main

env:
    IMAGE_NAME: "whitefalcon"
    TARGET_IMAGE_TAG: "test"
    TARGET_STACK: openresty

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.WSL_DOCKER_USER }} -p ${{ secrets.WSL_DOCKER_PASSWD }} ${{ secrets.WSL_DOCKER_REGISTRY }}
     
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: docker.workstation.co.uk/whitefalcon:latest
      -
        name: Build and push node app
        uses: docker/build-push-action@v4
        with:
          file: demos-origins/node-app/Dockerfile
          push: true
          tags: docker.workstation.co.uk/node-app:latest

  # smoke_test2:
  #   runs-on: [int2]
  #   needs: build2

  deploy2:
    runs-on: [int2]
    needs: build
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s2 onto the int env
        run: chmod +x ./deploy-to-kubernetes.sh && ./deploy-to-kubernetes.sh "${{ secrets.WSL_DOCKER_USER }}" "${{ secrets.WSL_DOCKER_PASSWD }}" "k3s2" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  healthcheck2:
    runs-on: [int2]
    needs: deploy2 
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int2.whitefalcon.io/ping
        run: | 
          go mod init myapp
          go test 01_healthcheck_test.go -v 
 

  # smoke_test3:
  #   runs-on: [label-node3]
  #   needs: build

  deploy3:
    runs-on: [label-node3]
    needs: healthcheck2
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s3 onto the int env
        run: chmod +x ./deploy-to-kubernetes.sh && ./deploy-to-kubernetes.sh "${{ secrets.WSL_DOCKER_USER }}" "${{ secrets.WSL_DOCKER_PASSWD }}" "k3s3" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  healthcheck3:
    runs-on: [label-node3]
    needs: deploy3 
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int3.whitefalcon.io/ping
        run: | 
          go mod init myapp
          go test 01_healthcheck_test.go -v  

  # smoke_test6:
  #   runs-on: [self-hosted-node6]
  #   needs: build

  deploy6:
    runs-on: [self-hosted-node6]
    needs: healthcheck3
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s6 onto the int env
        run: chmod +x ./deploy-to-kubernetes.sh && ./deploy-to-kubernetes.sh "${{ secrets.WSL_DOCKER_USER }}" "${{ secrets.WSL_DOCKER_PASSWD }}" "k3s6" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  healthcheck6:
    runs-on: [self-hosted-node6]
    needs: deploy6 
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int6.whitefalcon.io/ping
        run: | 
          go mod init myapp
          go test 01_healthcheck_test.go -v 
                                
  
  # smoke_test10:
  #   runs-on: [self-hosted-node10]
  #   needs: build

  deploy10:
    runs-on: [self-hosted-node10]
    needs: healthcheck6
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Deploy whitefalcon api gw to k3s10 onto the int env
        run: chmod +x ./deploy-to-kubernetes.sh && ./deploy-to-kubernetes.sh "${{ secrets.WSL_DOCKER_USER }}" "${{ secrets.WSL_DOCKER_PASSWD }}" "k3s10" "int" "both" "${{ env.IMAGE_NAME }}" "${{ env.IMAGE_TAG }}"

  healthcheck10:
    runs-on: [self-hosted-node10]
    needs: deploy10
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Ping verification
        working-directory: ./QA
        env:
          API_PING_URL: http://api.int10.whitefalcon.io/ping
        run: | 
          go mod init myapp
          go test 01_healthcheck_test.go -v 

      - name: Slack Notification for WhiteFalcon 
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: general
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://github.com/rtCamp.png?size=48
          SLACK_MESSAGE: 'Post Content :rocket:'
          SLACK_TITLE: Post Title
          SLACK_USERNAME: rtCamp
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}                                                                