name: Run Docker Compose

on:
  push:
    branches:
      - workflow/dc

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Compose
        run: docker-compose --version

      - name: Build and run Docker Compose
        run: |
          docker-compose up -d --build
          docker-compose ps
