name: "Print k3s pods, services, ingress for - whitefalcon INT, TEST, ACC"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ feature/* ]

env:

jobs:
  k3s10:
    runs-on: [self-hosted-node10]
    needs: docker
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Print K3s10 cluster info
        run: chmod +x ./print-cluster-info.sh && ./print-cluster-info.sh "k3s10"

  k3s6:
    runs-on: [self-hosted-node6]
    needs: docker
    steps:
      - name: checkout the repo code
        uses: actions/checkout@v2 
        with:
          ref: "main"
      - name: Print K3s6 cluster info
        run: chmod +x ./print-cluster-info.sh && ./print-cluster-info.sh "k3s6"