name: CDN-API-Test
on:
  workflow_dispatch:  
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19       
  
    - name: Test
      working-directory: ./QA
      env:
          API_PING_URL: https://api.test.whitefalcon.io/ping
      run: | 
        go mod init myapp
        go test 01_healthcheck_test.go -v 
      
