name: Run Selenium UI tests

on:
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
        - int
        - test
        - acc
        - prod
      STORAGE_TYPE:
        description: 'Please choose the Data Storage Type'
        required: true
        type: choice 
        default: 'redis'
        options:
        - redis
        - disk

env: 
  TARGET_ENV: ${{ inputs.TARGET_ENV }}
  LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
  LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
  JWT_TOKEN_KEY: ${{ secrets.JWT_TOKEN_KEY }}
  STORAGE_TYPE: ${{ github.event.inputs.STORAGE_TYPE }} 

  
jobs:
  build:
    runs-on: [self-hosted-node6]
    steps:
      - name: Checking out repo
        uses: actions/checkout@v2
        with:
          ref: dixa/qa-checks
      
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version
          
      - name: Build docker image for selenium tests
        working-directory: ./QA
        run: docker build --no-cache -t selenium-tests -f Dockerfile_qa .

      - name: Test execution
        working-directory: ./QA
        run: |  
          if [[ "${{ inputs.TARGET_ENV }}" == 'int' ]]; then
            export TARGET_HOST="http://api.int6.whitefalcon.io"
            export SERVER_NAME="qa.int6.whitefalcon.io"
          elif [[ "${{ inputs.TARGET_ENV }}" == 'test' ]]; then
            export TARGET_HOST="http://api.test.whitefalcon.io"
            export SERVER_NAME="test.whitefalcon.io"
          elif [[ "${{ inputs.TARGET_ENV }}" == '' ]]; then
            export TARGET_HOST="http://api.int6.whitefalcon.io"
            export SERVER_NAME="qa.int6.whitefalcon.io"
          else
            echo "Unsupported TARGET_ENV:${{ inputs.TARGET_ENV }}"
            exit 1
          fi

          # Execute tests and generate the allure report
          docker run -v ./allure-results:/app/allure-report -e LOGIN_EMAIL=$LOGIN_EMAIL -e LOGIN_PASSWORD=$LOGIN_PASSWORD -e JWT_TOKEN_KEY=$JWT_TOKEN_KEY -e TARGET_HOST=$TARGET_HOST -e SERVER_NAME=$SERVER_NAME -e STORAGE_TYPE=$STORAGE_TYPE selenium-tests
     
      # Upload Allure report as a GitHub artifact
      - name: Upload Allure Report
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: ./QA/allure-results