name: Run Selenium UI tests

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted-node6]
    steps:
      - name: Checking out repo
        uses: actions/checkout@v2
        with:
          ref: dixa/qa-checks

      - name: Build and Run dockerfile for test execution
        working-directory: ./QA
        run: | 
          docker build -t selenium-tests -f Dockerfile_qa .
          docker run selenium-tests
