name: Run Selenium UI tests

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checking out repo
        uses: actions/checkout@v2
        with:
          ref: dixa/qa-checks

      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Installing necessary packages
        run: |
          pip install pytest
          pip install chromedriver-autoinstaller selenium pyvirtualdisplay

      - name: Install xvfb
        run: sudo apt-get update && sudo apt-get install -y xvfb

      - name: Running the Python script
        run: xvfb-run -a py.test -v 
