name: Run Selenium UI tests

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted-node6]
    steps:
      - name: Checking out repo
        uses: actions/checkout@v2
        with:
          ref: dixa/qa-checks
      
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version

      - name: Build docker image for selenium tests
        working-directory: ./QA
        run: docker build -t selenium-tests -f Dockerfile_qa .

      - name: Test execution
        working-directory: ./QA
        run: docker run selenium-tests    
