name: Whitefalcon Test Suite

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
          - int
          - test
          - acc
          - prod
      EXECUTE_FUNCTION:
        description: 'Delete Rules After Execution'
        required: true
        type: boolean

env:
  TARGET_ENV: ${{ inputs.TARGET_ENV }}
  LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
  LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
  JWT_TOKEN_KEY: ${{ secrets.JWT_TOKEN_KEY }}
  EXECUTE_FUNCTION: ${{ inputs.EXECUTE_FUNCTION }}
  
jobs:
  build:
    runs-on: self-hosted-node6
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dixa/qa-checks

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: API Test For Rules & Servers
        working-directory: ./QA
         if [[ "${{ inputs.TARGET_ENV }}" == 'int' ]]; then
            TARGET_HOST="http://api.int6.whitefalcon.io"
            SERVER_NAME="qa.int6.whitefalcon.io"
            SERVER_ID_QA="host:qa.int6.whitefalcon.io"
          elif [[ "${{ inputs.TARGET_ENV }}" == 'test' ]]; then
            TARGET_HOST="http://api.test.whitefalcon.io"
            SERVER_NAME="test.whitefalcon.io"
            SERVER_ID_QA="host:test.whitefalcon.io"
          else
            echo "Unsupported TARGET_ENV:${{ inputs.TARGET_ENV }}"
          fi
          echo "TARGET_HOST=$TARGET_HOST" >> $GITHUB_ENV
          echo "SERVER_NAME=$SERVER_NAME" >> $GITHUB_ENV
          echo "SERVER_ID_QA=$SERVER_ID_QA" >> $GITHUB_ENV
               
          go mod init myapp
          go test -v

