name: Whitefalcon Test Suite

on:
  schedule:
    - cron: '5 4 * * fri'
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
          - int
          - test
          - acc
          - prod
      EXECUTE_FUNCTION:
        description: 'Delete Rules After Execution'
        required: true
        type: boolean

jobs:
  build:
    runs-on: self-hosted-node6
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dixa/qa-checks

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: API Test For Rules & Servers
        working-directory: ./QA
        run: |
          if [ "${{ env.TARGET_ENV }}" == "int" ]; then
            echo "TARGET_HOST=http://api.int6.whitefalcon.io" >> $GITHUB_ENV
            echo "SERVER_NAME=qa.int6.whitefalcon.io" >> $GITHUB_ENV
            echo "SERVER_ID_QA=host:qa.int6.whitefalcon.io" >> $GITHUB_ENV
            elif [ "${{ env.TARGET_ENV }}" == "test" ]; then
              echo "TARGET_HOST=http://api.test.whitefalcon.io" >> $GITHUB_ENV
              echo "SERVER_NAME=test.whitefalcon.io" >> $GITHUB_ENV
              echo "SERVER_ID_QA=host:test.whitefalcon.io" >> $GITHUB_ENV
            fi

          go mod init myapp
          go test -v

        env:
          TARGET_ENV: ${{ github.event.inputs.TARGET_ENV }}
          LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
          LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
          JWT_TOKEN_KEY: ${{ secrets.JWT_TOKEN_KEY }}
          EXECUTE_FUNCTION: ${{ github.event.inputs.EXECUTE_FUNCTION }}
