name: Whitefalcon Test Suite
on:
  schedule:
   # - cron: '0 */12 * * *'
    - cron: '5 4 * * fri'
  workflow_dispatch: 
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
        - int
        - test
        - acc
        - prod
      EXECUTE_FUNCTION:
        description: 'Delete Rules After Execution'
        required: true
        type: boolean 
      
jobs:
  build:
    runs-on: [self-hosted-node6]
    steps:
    - uses: actions/checkout@v3
      with: { ref: dixa/qa-checks }


    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19    

    - name: API Test For Rules & Servers
      working-directory: ./QA
      run: | 
        go mod init myapp
        go test -v 
      env: 
        TARGET_HOST : http://int6-api.whitefalcon.io
        SERVER_NAME : int6-qa.whitefalcon.io
        LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
        LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
        SERVER_ID_QA: ${{ secrets.SERVER_ID_QA }}
        EXECUTE_FUNCTION: ${{ github.event.inputs.EXECUTE_FUNCTION }} 

