name: API Test Suite

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
          - int
          - test
          - acc
          - prod
      EXECUTE_FUNCTION:
        description: 'Delete Rules After Execution'
        required: true
        default: 'true'
        type: string

env:
  API_PING_URL: http://api.int6.whitefalcon.io/ping
  TARGET_ENV: ${{ inputs.TARGET_ENV }}
  LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
  LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
  JWT_TOKEN_KEY: ${{ secrets.JWT_TOKEN_KEY }}
  EXECUTE_FUNCTION: ${{ inputs.EXECUTE_FUNCTION }}
  QA_EXPIRED_JWT_TOKEN_KEY: ${{ secrets.QA_EXPIRED_JWT_TOKEN_KEY }}
  MINIO_ENDPOINT: ${{ secrets.MINIO_ENDPOINT }}

  
jobs:
  build:
    runs-on: self-hosted-node6
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: API Test For Rules & Servers
        working-directory: ./QA
        run: |  
          if [[ "${{ inputs.TARGET_ENV }}" == 'int' ]]; then
            export TARGET_HOST="http://api.int6.whitefalcon.io"
            export SERVER_NAME="qa.int6.whitefalcon.io"
            export SERVER_ID_QA="host:qa.int6.whitefalcon.io"
          elif [[ "${{ inputs.TARGET_ENV }}" == 'test' ]]; then
            export TARGET_HOST="http://api.test.whitefalcon.io"
            export SERVER_NAME="test.whitefalcon.io"
            export SERVER_ID_QA="host:test.whitefalcon.io"
          elif [[ "${{ inputs.TARGET_ENV }}" == '' ]]; then
            export TARGET_HOST="http://api.int6.whitefalcon.io"
            export SERVER_NAME="qa.int6.whitefalcon.io"
            export SERVER_ID_QA="host:qa.int6.whitefalcon.io"  
          else
            echo "Unsupported TARGET_ENV:${{ inputs.TARGET_ENV }}"
            exit 1
          fi
                     
          go mod init myapp
          go test -v
   