name: Whitefalcon Test Suite

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      TARGET_ENV:
        type: choice
        description: 'Please choose the Target Environment'
        default: 'int'
        required: true
        options:
          - int
          - test
          - acc
          - prod
      EXECUTE_FUNCTION:
        description: 'Delete Rules After Execution'
        required: true
        type: boolean

env:
  TARGET_ENV: ${{ inputs.TARGET_ENV }}
  LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
  LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
  JWT_TOKEN_KEY: ${{ secrets.JWT_TOKEN_KEY }}
  EXECUTE_FUNCTION: ${{ inputs.EXECUTE_FUNCTION }}
  
jobs:
  build:
    runs-on: self-hosted-node6
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dixa/qa-checks

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: API Test For Rules & Servers
        working-directory: ./QA
        if: ${{ inputs.TARGET_ENV == 'int' }}
        run: |
          echo "TARGET_HOST=http://api.int6.whitefalcon.io" >> $GITHUB_ENV
          echo "SERVER_NAME=qa.int6.whitefalcon.io" >> $GITHUB_ENV
          echo "SERVER_ID_QA=host:qa.int6.whitefalcon.io" >> $GITHUB_ENV
      - name: API Test For Rules & Servers
        working-directory: ./QA
        if: ${{ inputs.TARGET_ENV == 'test' }}
        run: |
          echo "TARGET_HOST=http://api.test.whitefalcon.io" >> $GITHUB_ENV
          echo "SERVER_NAME=test.whitefalcon.io" >> $GITHUB_ENV
          echo "SERVER_ID_QA=host:test.whitefalcon.io" >> $GITHUB_ENV
         
          go mod init myapp
          go test -v

