name: Whitefalcon Test Suite
on:
  push:
    branches:
      - 'main'
  workflow_dispatch: 
    
jobs:
  build:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19    

    - name: API Test For Rules & Servers
      working-directory: ./QA
      run: | 
        go mod init myapp
        go test rules-servers-api_test.go -v 
      env: 
        LOGIN_EMAIL: ${{ secrets.LOGIN_EMAIL }}
        LOGIN_PASSWORD: ${{ secrets.LOGIN_PASSWORD }}
        SERVER_ID: ${{ secrets.SERVER_ID }}